html{
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
h1{
  font-size: 3rem;
}
nav{
  font-size: 1rem;
}

p{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

body{
  background-color: white;
}

.top-header{
  background-color: #2c3e50;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.top-header h3, nav{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 90px;
  padding: 0, 1rem;
}

.top-header h3{
  font-size: 1.8rem;
}


.banner{
  background-color: #1abc9c;
  color: white;
  padding: 6rem;
}

.banner img{
  max-width: 240px;
}
.banner h1{
  font-size: 3.6rem;
}
.banner div, img, h1, p{
  text-align: center;
}

.graphic-divider{
  text-align: center;
}
.graphic-divider div{
  display: inline-block;
}

.graphic-divider-line{
  height: 1px;
  width: 100px;
  border: 2px solid white;
  border-radius: 15px;
  margin: 0 1rem 0.5rem 1rem;
}

.banner p{
  font-size: 24px;
  margin: 1rem;
}

/* SECTION 01*/
/* TITTLE*/
.portfolio h1{
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.portfolio .graphic-divider-line{
  border: 2px solid #2c3e50;
}

.portfolio img{
  width: 100%;
  border-radius: 15px;
  margin: 1rem 0;
}
